.favorites-aside {
	width: 100vw;
	max-width: 400px;
	height: 100vh;

	background: var(--text);
	padding: 22px;

	display: flex;
	flex-direction: column;
	gap: 20px;

	overflow-x: scroll;

	transition: transform var(--tr-duration) linear;
}

.backdrop.hidden .favorites-aside {
	transform: translateX(100%);
}

.favorites-aside-header {
	display: flex;
	justify-content: space-between;
}

.favorites-close {
	background-color: var(--accent-border);

	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 3px;

	cursor: pointer;

	border: none;
	border-radius: 8px;

	color: var(--text-h);

	transition: background-color var(--tr-duration) linear;
}

.favorites-close:hover {
	background-color: var(--accent);
}

.aside-favorites-list {
	flex-grow: 1;

	padding: 12px 4px;

	display: flex;
	flex-direction: column;
	gap: 8px;
}

.no-favorite {
	margin-top: 50%;

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 18px;

	font-size: 44px;
	line-height: 90%;
	text-align: center;

	color: var(--border);
}

.aside-list-item {
	display: flex;
	justify-content: space-between;
	align-items: center;

	color: var(--text-h);
}

.aside-cover {
	background: var(--text-h);

	border-radius: 4px;
}

.aside-cover-image {
	width: 50px;
	height: 50px;

	border-radius: 4px;

	object-fit: cover;
}

.aside-book-title {
	max-width: 210px;

	flex-grow: 1;
}

.aside-delete-favorite-btn {
	width: 50px;
	height: 50px;

	padding: 5px;

	border: none;
	border-radius: 16px;

	color: var(--accent);

	cursor: pointer;

	transition: opacity var(--tr-duration) linear;
}

.aside-delete-favorite-btn:hover {
	opacity: 75%;
}

.aside-delete-favorite-btn svg {
	position: relative;
}
