/* vars */
/* todo make sure code remain same style */
:root {
	--tr-duration: 150ms;

	font:
		18px/145% system-ui,
		"Segoe UI",
		Roboto,
		sans-serif;
	letter-spacing: 0.18px;

	color: var(--text);
	background: var(--bg);

	transition: background-color var(--tr-duration) linear;
}

:root[data-theme="light"] {
	--text: #6b6375;
	--text-h: #08060d;
	--bg: #fff;
	--border: #e5e4e7;
	--code-bg: #f4f3ec;
	--accent: #aa3bff;
	--accent-bg: rgba(170, 59, 255, 0.1);
	--accent-border: rgba(170, 59, 255, 0.5);
	--shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

	color-scheme: light;
}

:root[data-theme="dark"] {
	--text: #9ca3af;
	--text-h: #f3f4f6;
	--bg: #16171d;
	--border: #2e303a;
	--code-bg: #1f2028;
	--accent: #c084fc;
	--accent-bg: rgba(192, 132, 252, 0.15);
	--accent-border: rgba(192, 132, 252, 0.5);
	--shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

	color-scheme: dark;
}

/* basic styles and normilize */

*,
*::after,
*::before {
	margin: 0;
	padding: 0;

	box-sizing: border-box;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	display: flex;
	flex-direction: column;

	height: 100vh;
}

/* container */

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}
@media screen and (min-width: 480px) {
	.container {
		width: 480px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		width: 768px;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

/* loader */

.loader {
	width: 75%;
	aspect-ratio: 1;
	border-radius: 50%;
	border: 3px solid var(--bg);
	border-right-color: transparent;
	animation: spin 2s infinite linear;
}
@keyframes spin {
	to {
		transform: rotate(1turn);
	}
}

.loader-cover {
	width: 25%;

	border: 7px solid var(--accent);
	border-right-color: transparent;

	animation-duration: 1s;
}

/* header */

.header {
	padding-top: 20px;
	padding-bottom: 10px;

	gap: 16px;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		sans-serif;
	font-weight: bold;
	color: var(--text-h);
	font-size: 32px;
}

.theme-switcher {
	display: flex;
	align-items: start;
	gap: 5px;

	padding: 5px;

	border: 1.5px solid var(--text-h);
	border-radius: 16px;
}

.hidden {
	display: none;
	position: absolute;
	width: 1px;
	height: 1px;
	overflow: hidden;
	margin: -5px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
}

.icon {
	padding: 1px;
	border-radius: 8px;
}

.theme-icon input:checked ~ .icon {
	background-color: var(--accent-border);
}

.theme-icon {
	cursor: pointer;

	transition: opacity var(--tr-duration);
}

.theme-icon:hover {
	border-radius: 8px;
	opacity: 70%;
	background-color: var(--accent-bg);
}

.theme-icon-light {
	stroke: var(--text-h);
}

.theme-icon-dark {
	fill: var(--text-h);
}

/*! main */

.main {
	height: 100%;

	padding-top: 160px;
}

.main-title {
	font-family: var(--heading);
	line-height: 80%;
	font-weight: 500;
	color: var(--text-h);

	font-size: 56px;
	letter-spacing: -1.68px;
	margin: 32px 0;
	background-color: var(--accent-bg);

	@media (max-width: 1024px) {
		font-size: 52px;
		margin: 50px 0;
	}
}

/* form */

.search-form {
	display: flex;
	justify-content: space-between;
	gap: 4px;

	margin-bottom: 40px;

	@media screen and (min-width: 768px) {
		gap: 2px;
	}
}

.search-input {
	font-family: var(--heading);

	width: 90%;
	height: 45px;

	padding: 10px 14px;

	font-size: 20px;
	border-radius: 20px;
	border: 1px solid #302a395e;

	outline: none;

	transition-property: border-color box-shadow;
	transition-duration: var(--tr-duration);
	transition-timing-function: linear;

	@media screen and (min-width: 768px) {
		width: 97%;
	}
}

.search-input:focus {
	border: 1px solid transparent;
	box-shadow:
		rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
		rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.search-input::placeholder {
	opacity: 50%;
}

.search-button {
	display: flex;
	justify-content: center;
	align-items: center;

	background-color: var(--text-h);

	cursor: pointer;

	height: 45px;
	width: 45px;

	border: none;
	border-radius: 50%;

	stroke: var(--bg);
}

.search-button:hover {
	opacity: 80%;
}

.search-button:active {
	opacity: 60%;
}

#books-list {
	display: flex;
	flex-direction: column;
	gap: 25px;

	@media screen and (min-width: 480px) {
	}
	@media screen and (min-width: 768px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
	@media screen and (min-width: 1200px) {
		gap: 15px;
	}

	padding-bottom: 50px;
}

.books-list-item {
	background-color: var(--accent-bg);
	outline: 1px solid var(--accent-border);
	border-radius: 12px;

	padding: 8px 12px;

	flex-basis: 100%;

	@media screen and (min-width: 768px) {
		flex-basis: calc((100% - 2 * 25px) / 3);
	}
	@media screen and (min-width: 1200px) {
		flex-basis: calc((100% - 3 * 15px) / 4);
	}

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
}

.book-cover {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 180px;
	height: 290px;

	border-radius: 12px;

	background-color: #fff;
}

.cover-image {
	position: absolute;

	height: 100%;
	width: 100%;

	object-fit: fill;
	border-radius: 12px;
}

.book-name,
.book-year {
	text-align: center;

	font-weight: 600;
}
