/* vars */

:root {
	--tr-duration: 150ms;

	font:
		18px/145% system-ui,
		"Segoe UI",
		Roboto,
		sans-serif;
	letter-spacing: 0.18px;

	color: var(--text);
	background: var(--bg);

	transition: background-color var(--tr-duration) linear;
}

:root[data-theme="light"] {
	--text: #6b6375;
	--text-h: #08060d;
	--bg: #fff;
	--border: #e5e4e7;
	--code-bg: #f4f3ec;
	--accent: #aa3bff;
	--accent-bg: rgba(170, 59, 255, 0.1);
	--accent-border: rgba(170, 59, 255, 0.5);
	--shadow: rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

	color-scheme: light;
}

:root[data-theme="dark"] {
	--text: #9ca3af;
	--text-h: #f3f4f6;
	--bg: #16171d;
	--border: #2e303a;
	--code-bg: #1f2028;
	--accent: #c084fc;
	--accent-bg: rgba(192, 132, 252, 0.15);
	--accent-border: rgba(192, 132, 252, 0.5);
	--shadow: rgba(0, 0, 0, 0.4) 0 10px 15px -3px, rgba(0, 0, 0, 0.25) 0 4px 6px -2px;

	color-scheme: dark;
}

/* basic styles and normilize */

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	display: flex;
	flex-direction: column;

	height: 100vh;
}

/* container */

.container {
	margin-left: auto;
	margin-right: auto;
	padding: 0 15px;
}
@media screen and (min-width: 480px) {
	.container {
		width: 480px;
	}
}
@media screen and (min-width: 768px) {
	.container {
		width: 768px;
	}
}
@media screen and (min-width: 1200px) {
	.container {
		width: 1200px;
	}
}

/* header */

.header {
	padding-top: 20px;
	padding-bottom: 10px;

	display: flex;
	justify-content: space-between;
}

.logo {
	font-family:
		system-ui,
		-apple-system,
		BlinkMacSystemFont,
		sans-serif;
	font-weight: bold;
	color: var(--text-h);
	font-size: 32px;

	padding: 12px 0;
}

.theme-switcher {
	display: flex;
	align-items: start;
	gap: 5px;

	padding: 5px;

	border: 1.5px solid var(--text-h);
	border-radius: 16px;
}

.theme-input {
	width: 0;
	height: 0;

	opacity: 0;
	position: absolute;

	pointer-events: none;
}

.icon {
	padding: 1px;
	border-radius: 8px;
}

.theme-input:checked ~ .icon {
	background-color: var(--accent-border);
}

.theme-icon {
	cursor: pointer;

	transition: opacity var(--tr-duration);
}

.theme-icon:hover {
	opacity: 70%;
	background-color: var(--accent-bg);
}

.theme-icon-light {
	stroke: var(--text-h);
}

.theme-icon-dark {
	fill: var(--text-h);
}

/*! main */

.main {
	height: 100%;

	padding-top: 160px;

	display: flex;
	flex-direction: column;
	gap: 4px;
}

.main-title {
	font-family: var(--heading);
	font-weight: 500;
	color: var(--text-h);

	font-size: 56px;
	letter-spacing: -1.68px;
	margin: 32px 0;
	background-color: var(--accent-bg);

	@media (max-width: 1024px) {
		font-size: 40px;
		margin: 50px 0;
	}
}

/* form */

.search-form {
	display: flex;
	gap: 4px;
}

.search-input {
	width: 100%;
	height: 30px;

	padding: 4px 8px;

	font-size: 20px;
	border-radius: 20px;
}

.search-button {
	background-color: #fff;

	width: 45px;
	height: 45px;

	cursor: pointer;

	border-radius: 25px;
}

.search-button:hover {
	background-color: teal;
}
